.footer {
    background-color: #3f4e5c;
    color: #fff;
    width: 100%;
}


.footer-section h3 {
    margin: 0 !important;
    padding: 0.8rem;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-section h3 {
  margin-bottom: 20px;
}

.social-links a {
  display: block;
  color: #fff;
  margin-bottom: 10px;
}
